# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Poetry stuff
poetry.lock
pyproject.toml

# Data images and masks
data/human_segmentation_kaggle/images
data/human_segmentation_kaggle/masks

# Model test videos
test_videos/

# MLflow and PyTorch
mlruns
lightning_logs

# TODO list
TODO